* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: teal;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: gray;
}
ul {
  display: flex;
  gap: 2rem;
}
li {
  list-style: none;
}
.active {
  color: #fff;
}
